<header-close [title]="'FILTER'" [buttonTitle]="'Reset'" (rightButton)="resetButtonClicked()"></header-close>
<div class="filter-container">
  <md-radio-group [(ngModel)]="selectFilter">
    <div class="filter-group" *ngFor="let group of filterList">
      <div class="group-title" *ngIf="group.subTopic">
        {{group.displayName}}
      </div>
      <div class="filter-item-container">
        <div class="row" *ngFor="let item of group.subTopic">
          <div class="col-9 filter-item">{{item.displayName}}</div>
          <div class="col-3 filter-radio-button">
            <md-radio-button value={{item.topicId}}></md-radio-button>
          </div>
        </div>
      </div>
    </div>
  </md-radio-group>
</div>
<div class="float-layer">
  <button (click)="filterBtnDidClicked()">Search
  </button>
</div>

