<header-close [title]="'About'"></header-close>
<div class="content-container">
  <div class="container">
    <div class="content margin-top-10">
      <h1>We love makeup</h1>
      <p>
        beautyhaul is an online makeup interactive social community and help you to make your looking even more elegant.
      </p>
      <p>You will find the adequate makeup tips, tutorials and product reviews based on beautyhaul online recommendation engine.</p>
      <p>
        beautyhaul continuously publish the makeup fashion trends, hot topics and videos depending on our
        data techniques and you always gain inspirations in the current season.
        beautyhaul is keen to know your needs better, please let us know your <a routerLink="/contact">feedback</a>.
      </p>
      <h1>We love social</h1>
      <p>
        Join beautyhaul official facebook community and explore the latest makeup trends and tips.
      </p>
      <div class="social">
        <span class="facebook">
          <a href="{{facebookLink}}" target="_blank"><i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>
  </div>
</div>
