<header-close title="{{'Contact'}}"></header-close>
<div class="content-container">
  <div class="container">
    <div class="content margin-top-10">
      <h1>We are here</h1>
      <div class="map">
        <img width="500" class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?center=Level+1,+GridAKL,+101+Pakenham+St+W,+Auckland,+1010&zoom=14&scale=false&size=500x300&maptype=roadmap&key=AIzaSyBxeKW0Bw2FccEE3wWJdbUvMWUIeKQ_PJw&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xfea6cc%7Clabel:%7CLevel+1,+GridAKL,+101+Pakenham+St+W,+Auckland,+1010" alt="Google Map of Level 1, GridAKL, 101 Pakenham St W, Auckland, 1010">
      </div>
      <div class="contact">
        <div class="item">
          <h3>Address</h3>
          <span class="detail">
            <a href="https://goo.gl/maps/zZj2n9WyNwF2" target="_blank">Level 1, GridAKL, 101 Pakenham St W, Auckland, 1010</a>
          </span>
        </div>
        <div class="item">
          <h3>Email</h3>
          <span class="detail"><a href="mailto:john@threeleo.com">john@threeleo.com</a></span>
        </div>
        <div class="item">
          <h3>Social</h3>
          <span class="detail">
              <a class="social" href="{{facebookLink}}" target="_blank">
                <i class="fa fa-facebook-official fa-5x facebook" aria-hidden="true"></i>
              </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
