<header-close title="{{'Privacy Policy'}}"></header-close>
<div class="content-container">
  <div class="container">
    <div class="content margin-top-10">
      <h1>Scope and Purpose</h1>

      <p>This online privacy policy describes the practices of beautyhaul website usage. ("beautyhaul") in regard to information
      that we obtain via this Web site, either directly, or through third-party vendors.
      The guidelines at this site are applicable only to this Web site.
      It does not describe practices with respect to other sites that we operate, information that
      we obtain through other means, or the practices of Web sites of third-parties to which we provide links.
      We do not control and are not responsible for the privacy practices of,
      or the data available on, the Web sites of third-parties, and we urge you to evaluate
      the soundness of these practices and data for yourself.</p>

      <p>We reserve the right to change this policy at any time without prior notice by publishing
      changes on this page. Please check this page periodically for updates to this policy.
      If you have any questions about this policy, or any other aspects of your privacy with respect to "beautyhaul",
      please contact us.</p>

      <h1>Privacy and Data Security of Information Collected on this site</h1>

      <p>beautyhaul actively seeks to maintain the privacy of our online visitors,
      and we have constructed and administer this Web site accordingly.
      To prevent unauthorised access or disclosure, maintain data accuracy,
      and ensure the appropriate use of information, we have put in place appropriate physical,
      electronic, and administrative procedures to safeguard and secure the information we collect online.
      Unless personally identifiable information (such as name, address, telephone number, or email address)
      is voluntarily submitted by you on this Web site, we do not collect such information
      in connection with use of this site, or associate or link it to information that
      we may collect using cookies or web beacons. We use such personally identifiable
      information that you submit for our internal business purposes only, and we do not sell or trade such information.</p>

      <p>We engage certain service vendors for purposes of tracking and associating
      Internet search and browsing behaviour with our advertisements and to provide
      functionality on this site, and, in that connection, we enable them,
      among other things, to use cookies and web beacons on or in conjunction with this site.
      The use and collection of information by these vendors is governed by their respective
      privacy statements and is not covered by this policy. Where our vendors provide additional
      functionality on this site, we use any information they may collect on our behalf as
      described in the interface for that functionality, or, if not described there.</p>

      <p>Within this Web site, you may order products or services,
      make requests, and register to receive materials. The types of personal
      information collected at these pages may include your name, your company name,
      address, telephone number, fax number, email address, contact and billing information
      (including shipping address and end-user) and/or transaction information.</p>

      <p>We use both "cookie" and "Web beacon" technology with respect to this Web site.
      We use this technology to obtain information from online visitors that we believe
      is necessary to permit convenient functionality of this site, to enhance the user's
      online experience, to assess the effectiveness and design of Web site features,
      and to understand and assess the effectiveness of our advertising.</p>

      <p>For example, we track the number of visitors using portions or features
      of this Web site in order to make changes that we believe will improve the site,
      we track the popularity and use of features to guide development of new ones,
      and we assess ways in which this site has become known to and accessed by users in order
      to gauge the quality and methods of our advertising. The information that we use may include,
      for example, IP address and other data about the equipment used to visit this Web site,
      the pattern of searching and browsing that preceded viewing the site, and other
      behavioural indicators of viewers, and we do not consider this type of information personally identifiable.</p>

      <p>Neither the beacons nor the cookies we use collect personally identifiable information
      such as name, address, telephone number, or email address.</p>

      <h1>Access by Minors, including Children's Privacy (Age 12 and under)</h1>

      <p>This Web site is not intended to be used by minors. beautyhaul does not knowingly solicit, collect,
      or accept any information from or about minors via this site.</p>
    </div>
  </div>
</div>
