<div class="feed-view-container header-offset">
  <div class="container video-view">
    <div class="video">
      <div class="play-container embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" [src]='feed.videoUrl | safeUrl' allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
      </div>
    </div>
    <div class="card rounded-0 border-0">
      <div class="card-block">
        <div class="title">{{feed.title}}</div>
        <div class="view">{{feed.viewCount | countDisplay}} views</div>
        <feed-action-view [feed]="feed"></feed-action-view>
        <div class="d-flex flex-row author">
          <div class="p-2">
            <avatar-view name={{feed.authorDisplayName}} imageSrc={{feed.authorAvatar}} sizeType='M'></avatar-view>
          </div>
          <div class="p-2">
            <div class="card-subtitle">{{feed.authorDisplayName}}</div>
            <div class="subscribers">
              <span>Subscribers {{feed.subscriberCount | countDisplay}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="description">
        <span class="title">Description</span>
        <p>
          <show-more content="{{feed.description | htmlBreak}}"></show-more>
        </p>
      </div>
    </div>
    <feed-comments [feed]="feed"></feed-comments>
  </div>
</div>
