<header-close [title]="'Sign in'"></header-close>
<div class="login-container">
  <div class="container">
    <div class="hero-bg"></div>
    <div class="title">
      Join the beauty movement.
    </div>
    <div class="login-access">
      <facebook-login></facebook-login>
    </div>
    <div class="login-access">
      <google-login></google-login>
    </div>
    <div class="disclaimer">
      By click the Continue with, <br />I agree to beautyhaul's <a routerLink="/privacy">Privacy Policy</a>.
    </div>
  </div>
</div>


